@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    /* Overflow para não ter scroll na página */
}

.imgEsquerda{
    width: 50%;
    display: block;
    height: 100%;
}

.pngRegistro{
    width: 100%;
}

.imgLogo{
   width: 150px;
   height: 150px;
   margin-bottom: 20px;
   cursor: pointer;
}

.containerRegistro{
    background-color: rgba(33, 35, 34, 1);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fieldRegistro{
    margin-bottom: 6px;
    color: rgba(105, 111, 121, 1);
}

.fieldRegistro button{
  width: 405px;
  height: 40px;
  background-color: rgba(169, 15, 15, 1);
  color: white;
  border: 1px solid transparent;
  font-size: 24px;
  border-radius: 8px;
  margin-bottom:10px;
  margin-top: 12px;
}

.fieldRegistro input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 4px;
}

.fieldRegistro p{
    font-size: 18px;

    margin-bottom: 6px;
}

/* Aviso */

.alerta_erro {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; /*Deixar ele acima das minhas outras divs */
    background-color: rgba(255, 0, 0, 0.8); 
    color: white;
    text-align: center;
    padding: 15px;
    display: none; 
  }