body{
background-image: url("../assets/wallpaperDash.jpg");
 background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#graficoUm{
 width: 40%;
 height: 30%;
 border: 1px solid white;
 background-color: rgba(5, 21, 20, 1);
 padding: 10px;
 border-radius: 12px;
 color: white;
 text-align: center;
 opacity: 0.95;
}

#graficoDois{
 width: 40%;
 height: 30%;
 border: 1px solid white;
 background-color: rgba(5, 21, 20, 1);
 padding: 10px;
 border-radius: 12px;
 color: white;
 text-align: center;
 opacity: 0.95;
}

.header{
    margin-bottom: 20px;
}

.div_mediaHoras{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.dadosUsuarios{
    width: 20%;
    height: 90%;
    background-color: rgba(5, 21, 20, 1);
    color: white;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    opacity: 0.95;
    flex-direction: column;
}

.dadosGraficos{
    display: flex;
    justify-content: space-around;

    align-items: center;
    width: 100%;
    height: 50%;
    
}



#dadosUsuarioTabela{
width: 35%;
 height: 280px;
 border: 1px solid white;
 background-color: rgba(5, 21, 20, 1);
 padding: 10px;
 border-radius: 12px;
 color: white;
 text-align: center;
}

.rankingMensal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    /* border-bottom: 0.5px dashed white; */
}