@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
* {
    margin: 0;
    font-family: 'Ancizar',sans-serif;
    
}

nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(33, 35, 34, 1);
    color: white;
    height: 10vh;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 44%;
    list-style: none;
    
}

.links li {
    margin: 20px;
}

.btnEntrar {
    border: 2px solid white;
    font-size: 16px;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}

.btnRegistro {
    background-color: rgba(169, 15, 15, 1);
    border: 2px solid white;
    font-size: 16px;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}

li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* Footer */

footer{
    width: 100%;
    background-color: rgba(33, 35, 34, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    height: 70px;
}

.textoFooter{
    color: white;
    text-align: center;
    justify-items: center;
    align-items: center;

}

.iconesFooter img{
    width: 40px;
    height: 40px;
}

.iconesFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#botaoVoltar{
    cursor: pointer;
}

.botaoSelecionado{
  font-weight: bold;
  color:rgb(255, 255, 255);
  border: 2px solid white;
  padding: 18px;
  border-radius: 12px;
  background-color: rgb(27, 26, 26);
}