/* Imagem de Fundo principal da página */
.imagemHistoria{
    background-color: #010101;
    color: white;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
  }

  .imagemHistoria img{
    width: 50%;
    height: 100%;
  }

  .textoHistoria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
  }

  /* Jigoro Kano */

  .infoJigoro{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textoJigoro{
    display: flex;
    flex-direction: column;    
    margin: 15px;
}

.textoJigoro h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px
}

.textoJigoro p{
    text-align: center;
    margin-top: 100px;
    line-height: 50px;

}

.imagensJigoro{
    width: 500px;
    height: 500px;
    margin: 20px;
}

/* Mitsuyo Maeda */

.infoMaeda{
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(5, 21, 20, 1);
  color: white;
}

.textoMaeda{
  display: flex;
  flex-direction: column;    
  margin: 15px;
}

.textoMaeda h1{
  font-size: 50px;
  text-align: center;
  margin-top: 30px
}

.textoMaeda p{
  text-align: center;
  margin-top: 100px;
  line-height: 50px;

}

.imagensMaeda{
  width: 500px;
  height: 500px;
  margin: 20px;
}

/* Diferenças Judo e Jiu */

.diferencas{
    width: 100%;
    height: 450px;
    display: flex;
   
    align-items: center;
}

.diferencas p{
    width: 80%;
    height: 50px;
    background-color: rgba(5, 21, 20, 1);
    color: white;
    margin-top: 20px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDiferencas{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}