
/* Imagem Home e botão */
.cardHome{
  background-image: url("../assets/backgroundHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 800px;
}

.textoHome{
    font-size: 80px;
    margin: 20px;
}

.infoHome{
    width: 70%;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.cardHome button{
    background-color: rgba(169, 15, 15, 1);
    color: white;
    height: 70px;
    width: 150px;
    border-radius: 12px;
    font-size: 24px;
    border: 1px solid transparent;
}

/* Inspiração Pessoal e Sobre Nós */

.infoShosen{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.textoShosen{
    display: flex;
    flex-direction: column;    
    margin: 15px;
    color: white;
}

.textoShosen h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px
}

.textoShosen p{
    text-align: center;
    margin-top: 60px;
    line-height: 50px;

}

.imagensShosen{
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 8px;
}

.spanInfoShosen{
    color: red;
}

/* Competicoes */

.Competicoes{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(5, 21, 20, 1);
}

.textosCompeticoes{
    display: flex;
    flex-direction: column;    
    margin: 15px;
    color: white;
}

.textosCompeticoes h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px
}

.textosCompeticoes p{
    text-align: center;
    margin-top: 30px;
    line-height: 50px;
    font-size: 16px;

}

.imagemCompeticao{
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 8px;
    margin-top: 40px;
}

/* Section Quiz */

.quizSection{
    width: 100%;
    height: 200px;
    background-color: rgba(33, 35, 34, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    align-items: center;
}

.infoQuiz{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.btnQuiz{
    background-color: rgba(169, 15, 15, 1);
    color: white;
    height: 50px;
    width: 130px;
    border-radius: 12px;
    font-size: 14px;
    border: 1px solid transparent;
    margin-right: 20px;
}