/* Img de Objetivo */
.imagemObjetivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100vh;
  /* filter: blur(1px); */
  background-image: url("../assets/wallpaperobj.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imagemObjetivo h1{
  font-size: 100px;
  align-self: flex-end;
  margin-right: 100px;
      text-shadow: 3px 2px 2px black;

}

/* .imagemObjetivo p{
   font-size: 20px;
  width: 30%;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  align-self: flex-end;
} */


/* Div meu Objetivo */

.meuObjetivo {
  width: 100%;
  height: 600px;
  background-color: rgba(5, 21, 20, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.textoObjetivo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  justify-content: space-around;
  height: auto;
}

.textoObjetivo p {
  margin-top: 24px;
  line-height: 35px;
  font-size: 18px;
}

.meuObjetivo img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

.textoObjetivo h1 {
  font-size: 36px;
}

/* Cards do Gui maior */

.guiAdulto {
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 120px;

}

.textoAdulto {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.textoAdulto h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 60px
}

.textoAdulto p {
  text-align: center;
  margin-top: 30px;
  line-height: 45px;
  font-size: 18px;

}

.imagemAdulto {
  width: 550px;
  height: 530px;
  margin: 20px;
  border-radius: 8px;
  margin-top: 50px;
}

/* Card Das Medalhas */

.infoMedalhas {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 120px;

}

.textoMedalhas {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 60%;
}

.textoMedalhas h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 45px
}

.textoMedalhas p {
  text-align: center;
  margin-top: 30px;
  line-height: 40px;
  font-size: 18px;
}

.imagemMedalhas {
  width: 550px;
  height: 530px;
  margin-right: 40px;
  border-radius: 8px;
  margin-top: 30px;
}

/* Card Final */

.infoFinal {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 120px;

}

.textoFinal {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 60%;
}

.textoFinal h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 45px
}

.textoFinal p {
  text-align: center;
  margin-top: 30px;
  line-height: 40px;
  font-size: 18px;
}

.imagemFinal {
  width: 600px;
  height: 600px;
  margin-right: 40px;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 30px;
}


/* Card Triplo dos Senseis */

body {
  background-color: black;
  color: white;
}

.meusSenseis {
  background-color: rgba(5, 21, 20, 1);
  width: 100%;
  height: 550px;
  color: white;
}

.sensei {
  width: auto;
  height: 30%;
  margin-top: 24px;
  margin-bottom: 20px;
}

.sensei img {
  width: 340px;
  height: 400px;
  border-radius: 12px;
}

.cardTriploSensei {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}


.tituloSensei {
  text-align: center;
  padding: 15px;
  font-size: 36px;
}

.sensei img:hover {
  transform: scale(1.05);
}